/* 
  - naming rules

    {prefix}-{feature}--{ * }

  - prefix: ios
  - feature: [switch, ]
*/
:root {
  --ios-duration: 700ms;
}

.ios-switch--container {
  position: relative;
  display: flex;
  width: 100%;
}

.ios-switch--container > * {
  flex: 0 0 auto;
  height: 100%;
  width: 100%;
}

.ios-disappear {
  opacity: 0 !important;
  transition: opacity ease-out var(--ios-duration) !important;
  pointer-events: none !important;
}

.ios-appear {
  opacity: 1 !important;
  transition: opacity ease-out var(--ios-duration) !important;
}