/* 
  - naming rules

    {prefix}-{feature}--{ * }

  - prefix: ios
  - feature: [switch, ]
*/
:root {
  --ios-duration: 700ms;
}


.ios-switch--container {
  position: relative !important;
  display: flex !important;
  width: 100% !important;
}
.ios-switch--dummy {
  width: 50% !important;
  height: 50% !important;
  flex-shrink: 0 !important;
}
.ios-switch--container > .ios-switch--item:not(.ios-switch--dummy) {
  min-height: 100% !important;
  max-height: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  display: block !important;
}


.ios-disappear {
  opacity: 0 !important;
  transition: opacity ease-out var(--ios-duration) !important;
  pointer-events: none !important;
}
.ios-appear {
  opacity: 1 !important;
  transition: opacity ease-out var(--ios-duration) !important;
}